@(title: String, projectAndInstances: scala.collection.immutable.Set[(model.domain.Project,scala.collection.immutable.Set[model.domain.Instance])])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&v2' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
        <script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
        <script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/light.js"></script>
        <script src="http://amcharts.com/lib/3/plugins/export/export.js" type="text/javascript"></script>
        <link href="http://amcharts.com/lib/3/plugins/export/export.css" rel="stylesheet" type="text/css">

        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/main.css")">

        <script>
                        function removeOld(){
                           $("#otherContent").remove();
                        }
                        function getParametersAjax(instanceId){
                             console.log("inside getParametersAjax func " + instanceId);

                             $.ajax({
                                 type : 'GET',
                                 url : "/getParameters?instanceId=" + instanceId,
                                 success : function(data) {
                                     removeOld();
                                     var div = document.createElement('div');
                                     div.type = 'text';
                                     div.innerHTML = data;
                                     div.display = 'none';
                                     document.getElementById("parameterContainer").appendChild(div);
                                     $(function() {
                                        $("#accordion" ).accordion({
                                          heightStyle: "content",
                                          collapsible: true,
                                          animate: 200,
                                          active: false
                                        });
                                     });



                                 },
                                 error : function(data) {   }
                             });
                        }

                        function getDataAjax(instanceId,parameterId){
                             console.log("inside getDataAjax func instanceId= " + instanceId+ "  parameterId= "+ parameterId);

                             $.ajax({
                                 type : 'GET',
                                 url : "/getData?instanceId="+instanceId+"&parameterId=" + parameterId,
                                 success : function(data) {
                                     jsonData = JSON.parse(JSON.stringify(data));
                                     console.log("jsonData " + jsonData);

                                    var chartName = "chart"+parameterId;
                                    var chart = AmCharts.makeChart(chartName, {
                                                    "type": "serial",
                                                    "pathToImages": "http://cdn.amcharts.com/lib/3/images/",
                                                    "categoryField": "date",
                                                    "dataDateFormat": "YYYY-MM-DD HH:NN",
                                                    "maxSelectedSeries": 0,
                                                    "mouseWheelScrollEnabled": true,
                                                    "zoomOutOnDataUpdate": false,
                                                    "theme": "light",
                                                    "categoryAxis": {
                                                        "minPeriod": "mm",
                                                        "parseDates": true
                                                    },
                                                    "chartCursor": {
                                                        "animationDuration": 0,
                                                        "categoryBalloonDateFormat": "YYYY-MM-DD HH:NN"
                                                    },
                                                    "chartScrollbar": {
                                                        "autoGridCount": true,
                                                        "backgroundAlpha": 0.21,
                                                        "dragIconHeight": 38,
                                                        "graphType": "line",
                                                        "gridCount": 1,
                                                        "maximum": 2,
                                                        "scrollbarHeight": 54,
                                                        "scrollDuration": 6
                                                    },
                                                    "trendLines": [],
                                                    "graphs": [
                                                        {
                                                            "bullet": "round",
                                                            "hideBulletsCount": 50,
                                                            "gapPeriod": 1,
                                                            "id": "AmGraph-1",
                                                            "title": "graph 1",
                                                            "type": "smoothedLine",
                                                            "valueAxis": "Not set",
                                                            "valueField": "value"
                                                        }
                                                    ],


                                                    "export": {
                                                        "enabled": true,
                                                        "libs": {
                                                            "path": "http://www.amcharts.com/lib/3/plugins/export/libs/"
                                                        }

                                                    },
                                                    "dataProvider": data

                                                }
                                        );
                                    chart.addListener("rendered", zoomChart);

                                    zoomChart();

                                    function zoomChart() {
                                        chart.zoomToIndexes(chart.dataProvider.length - 40, chart.dataProvider.length - 1);
                                    }



                                 },
                                 error : function(data) {   }
                             });
                        }
                    </script>




    </head>

    <body>
        <div id="container">
            <div id="header">
                <nav role='navigation'>
                    <ul id="ul menu">

                        <li><a href="/">@title Home</a></li>



                        @for((project,instances)<- projectAndInstances){
                            <li id="project @project.projectId" style="font-size: larger" ><a onclick="showInstances(@project.projectId)">@project.name</a>
                                <ul>
                                    @for(instance <- instances) {
                                        <li id="@instance.instanceId" onclick="getParametersAjax(@instance.instanceId)"><a>@instance.name</a></li>
                                    }
                                </ul>
                            </li>
                        }

                    </ul>
                </nav>
            </div>

                @*ajax will use and modify this tag*@
                <div id="parameterContainer" class="parameterContainer"/>

        </div>
    </body>
</html>
