@(instance: model.domain.Instance, parameters: scala.collection.immutable.Set[model.domain.Parameter])

<div id="otherContent">

    <h2 style="color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: larger; font-weight: normal;margin-left: 4%">
        Instance @instance.name have @parameters.size parameters
    </h2>
    <div id="accordion">
        @for(parameter <- parameters){
            <h3 onclick="showContent(currentTimePeriod,@instance.instanceId,@parameter.parameterId)"  style="color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: large; margin-left: 2%">@parameter.name</h3>
            <div >
                <div style="margin-left: 5%">
                    <a style="float:left;color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: large; margin-left: 1%">Parameter @parameter.name in @parameter.unit</a>

                    <a onclick="getDataAjax(currentTimePeriod,@instance.instanceId,@parameter.parameterId)"  style="float:right;color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: large; margin-left: 1%">Update</a>
                    <a onclick="getDataAjax('1Y',@instance.instanceId,@parameter.parameterId)"  style="float: right; color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: large; margin-left: 1%">1Y</a>
                    <a onclick="getDataAjax('1M',@instance.instanceId,@parameter.parameterId)"  style="float: right; color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: large; margin-left: 1%">1M</a>
                    <a onclick="getDataAjax('1w',@instance.instanceId,@parameter.parameterId)"  style="float: right; color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: large; margin-left: 1%">1w</a>
                    <a onclick="getDataAjax('1d',@instance.instanceId,@parameter.parameterId)"  style="float: right; color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: large; margin-left: 1%">1d</a>
                    <a onclick="getDataAjax('1h',@instance.instanceId,@parameter.parameterId)"  style="float: right; color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: large; margin-left: 1%">1h</a>
                    <a onclick="getDataAjax('1m',@instance.instanceId,@parameter.parameterId)"  style="float: right; color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: large; margin-left: 1%">1m</a>

                    <input id="dateTimePickerEnd@parameter.parameterId" type="text"  style="float: right; color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: large; margin-left: 1%; border: transparent">
                    <a   style="float: right; color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: large; margin-left: 1%">Until </a>
                    <input id="dateTimePickerStart@parameter.parameterId" type="text"  style="float: right; color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: large; margin-left: 1%; border: transparent">
                    <a   style="float: right; color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: large; margin-left: 1%">Since </a>

                    <a onclick="setValueType('min')" style="float: right; color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: large; margin-left: 1%">min</a>
                    <a onclick="setValueType('max')"  style="float: right; color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: large; margin-left: 1%">max</a>
                    <a onclick="setValueType('avg')"  style="float: right; color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: large; margin-left: 1%">avg</a>
                    <a onclick="setValueType('sum')"  style="float: right; color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: large; margin-left: 1%">sum</a>


                </div>


                <div id="chart@parameter.parameterId" style=" direction: inherit; width: 100%; height: 400px;"></div>
            </div>
        }
    </div>
</div>