@(parameters: scala.collection.immutable.Set[model.domain.Parameter])



<div id="otherContent">
         <div id="va-accordion" class="va-container" style="width: 130%;height: 130%" >

            <div class="va-wrapper" >


                @for(parameter <- parameters){
                    <div id="@parameter.parameterId" class="va-slice va-slice-color-@parameter.parameterId" onclick="getDataAjax(1,@parameter.parameterId)" style="width: 100%; height: 100%">
                        <h2 class="va-title" style="line-height: 10px">@parameter.name</h2>
                        <div class="va-content">

                            <h1 style="color: #20b9ff; font-family: 'Open Sans Condensed', sans-serif; font-size: medium; margin-left: 5%">
                                Parameter @parameter.name in @parameter.unit
                            </h1>


                            <ul>
                                <div class="row-fluid">
                                    <div id="chart@parameter.parameterId" class="span5">
                                        <canvas id="myChart@parameter.parameterId" style=" width: 140%"></canvas>
                                    </div>

                                </div>
                            </ul>


                        </div>
                    </div>
                }
            </div>
        </div>



</div>