@(title:String, parameters: scala.collection.immutable.List[Int])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/Chart.js")'></script>



    </head>

    <body>
        <div id="container">


            <div id="content">
                <div class="container">

                <ul>
                @parameters.map{p =>
                    <li>@p</li>
                }
                </ul>

                <ul>
                @for(p <- 1 to 5){
                    <li id="@p">@p</li>
                }
                </ul>

                </div>
            </div>
        </div>
    </body>
</html>
